@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root{
    --main-color: #00a6ff;
    --second-color: #fff;
}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0062be;
    transition: 0.5s;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header .logo
{
    position: relative;
    max-width: 80px;
}

header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox
{
    position: relative;
    max-width: 600px;
}
.content .textBox h2
{
    color: #fff;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}
.content .textBox h2 span
{
    font-size: 2em;
}
.content .textBox p
{
    color: #fff;
}
.content .textBox a 
{
    display: inline-block;
    margin-top: 20PX;
    padding: 8px 20px;
    background: #fff;
    color: #111;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
.content .imgBox
{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
    justify-content: flex-end;
}

.content .imgBox img
{   
    max-width: 260px;
}
.thumb
{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover
{
    transform: translateY(-15px);
}
.thumb li img
{
    max-width: 40px;
}
.sci
{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sci li
{
    list-style: none;
}
.sci li a
{
    display: inline-block;
    filter: invert(1);
    transform: scale(0.6);
    margin: 5px 0;
}
.circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00a6ff;
    clip-path: circle(600px at right 800px)
}
.heading{
    text-align: center;
    text-transform: uppercase;
}
.heading span{
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
}
.heading h1{
    font-size: 2rem;
    color: var(--second-color);
}
.menu-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
}
.menu-container .box{
    flex: 1 1 10rem;
    background: var(--main-color);
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 0.5rem;
}
.menu-container .box .box-img{
    width: 150px;
    height: 150px;
    margin-top: -100px;
}
.menu-container .box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.stars{
    margin: 1rem 0 0.1rem;
}
.menu-container .box .stars .bx{
    color: #ebdbc8;
}
.menu-container .box h2{
    color: #ebdbc8;
    font-size: 1.2rem;
}
.menu-container .box span{
    color: #ebdbc8;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0.2rem 0 0.5rem;
}
.box .btn{
    border: 2px solid #ebdbc8;
    color: #ebdbc8;
}
.box .btn:hover{
    background: #ebdbc8;
    color: var(--second-color);
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}
.novidades-img{
    flex: 1 1 21rem;
}
.novidades-text{
    flex: 1 1 21rem;
}
.novidades-text h2{
    font-size: 1.2rem;
    color: var(--second-color);
}
.novidades-text p{
    color: var(--second-color);
    margin: 0.5rem 0 1rem;
    text-align: justify;
}
.home{
    display: flex;
    flex-wrap: wrap;
    background: #ebdbc8;
    gap: 1.5rem;
}
.home-img{
    flex: 1 1 17rem;
}
.home-text{
    flex: 1 1 17rem;
}
.home-text h2{
    font-size: 1.2rem;
    color: var(--main-color);
}
.home-text p{
    margin: 0.5rem 0 1rem;
    text-align: justify;
}
.contato{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map iframe{
    font-size: 27px;
    margin: 0.5rem;
    padding: 5px;
}
.map iframe:hover{
    background: var(--main-color);
}

main.assinatura
{
    font-size: medium;
    text-align: center;
    position: center;
    text-shadow: 1px 1px 1px black;
}


@media (max-width: 991px){
    header{
        padding: 20px;
    }
    header .logo{
        max-width: 60px;
    }
    header ul{
        display: none;
    }
    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(../imagens/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 11;
    }
    .toggle.active{
        position: fixed;
        right: 20px;
        background: url(../imagens/close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
    header ul.navigation.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #58717d;
        z-index: 10;
    }
    header ul li a{
        font-size: 1.5em;
        margin: 4px 0;
    }
    section{
        padding: 20px 20px 120px;
    }
    .content{
        flex-direction: column;
        margin-top: 100px;
    }
    .content .textBox h2{
        font-size: 2.2em;
        margin-bottom: 15px;
    }
    .content .textBox{
        max-width: 100%;
    }
    .content .imgBox{
        max-width: 100%;
        justify-content: center;
    }
    .content .imgBox img{
        max-width: 300px;
    }
    .thumb li img{
        max-width: 40px;
    }
    .circle{
        clip-path: circle(400px at center bottom)
    }
    .sci{
        background: #0062be;
        right: 0;
        width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius:5px;
    }
}